// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "sass_custom.css.scss";
section {
  &#surveys_list {
    border: 1px solid $border_color_standard;
    border-top: none;
    position: absolute;
    top: 2.1em;
    right: 0.1em;
    width: 67%;
    padding: 0.5em;
    z-index: 99;
  }
}
