// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "sass_custom.css.scss";

section {
  &#survey_partial {
    width: 80%;
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

form {
  width: 80%;
  &.edit_survey, &#new_survey {
    @include rounded-corners(10px);
    border: 1px solid $border_color_standard;
    background-color: $form_color_bg_standard;
    padding: 1em;
    width: 100%;
  }
}

table {
  &#show_survey {
    th, td {
      padding: 2em;
      margin-left: 2em;
    }
    ul, ol {
      margin-left: 2em;
      li {
        padding: 0.2em;
      }
    }
  }
}
nav {
  &#survey_links_nav {
    @include rounded-corners(10px);
    border: 1px solid darken($nav_color_bg, 10%);
    background-color: $nav_color_bg;
    height: 1.5em;
    padding-right: 0.5em;
    padding-top: 0.4em;
  }
}
p {
  &.add_answer {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  textarea {
    margin-top: 1em;
    margin-bottom: 0.2em;
  }
}
div {
  &.field, &.fields {
    margin: 0.3em;
  }
  &.anonymous {
    margin-top: 1em;
  }
  &#survey_report_result {
    padding: 0.5em;
    border: 1px solid black;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
}
